<div data-role="header">
    <h1>Directory</h1>
</div>

<div class="ui-bar ui-bar-c">
    <input type="search" class="search-query" placeholder="Search"/>
</div>

<div id="welcome" style="padding:12px">

    <a href="#usersIssues">Go to another page</a>
</div>

<div data-role="content">
    <ul data-role="listview" id='myList'></ul>
</div>
