<div class="userHeader"><%= firstname+' '+lastname%></div>
<div class="userList"></div>
<div class="userFooter"><a class="addIssue"><span class="glyphicon glyphicon-plus"></span> Add issue</a></div>

