
<div class="boardContainer">
	<div class="board clearfix">
		<div class="listWrap">
			<div class="list">
				<div class="bor"></div>
				<div class="bor"></div>
				<div class="bor"></div>
			</div>
		</div>
	</div>
</div>

