/* COMMON */
main{

}
a{
	cursor: pointer;
}
.pointer{
	cursor: pointer;
}
.row-close{
	margin-right: 0 !important;
	margin-bottom: 1em;
}
/* END COMMON*/

/* BOARD */
.boardContainer{
	position: relative;
	height: 400px;
}
.board{
	position: absolute;
	top: 5px;
	right: 0;
	bottom: 0;
	left: 0;
}
.listWrap{
	overflow-x: auto;
	overflow-y: hidden;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-left: 10px;
}
.list{
	width: 100%;
	height: 100%;
}
/* END BOARD */

/* USSERWITHISSUES */
.userWithIssues{
	width: 250px;
	max-height: 100%;
	float: left;
	margin: 0 5px;
	background-color: #7F8C8D;
	min-height: 20px;
}
.userWithIssues .userHeader{
	font-weight: bold;
	font-size: 1.5em;
	padding: 5px;
}
.userWithIssues .userList{
	
}
.userWithIssues .userFooter{
	padding: 5px;
}
.userWithIssues .addIssueIcon{
	width: 25px;
	height: 25px;
	font-size: 1.5em;
}
.userWithIssues .issueInput{
	margin-bottom: 5px;
}
.userWithIssues .issueInputClose{
	color: #666;
	margin: 5px 10px 0 10px;
	font-size: 1.5em;
}
/* END USSERWITHISSUES */

/* ISSUEINUSER */
.issueInUser{
	background-color: #BDC3C7;
	width: 100%;
	margin-bottom: 10px;
}

.issueInUser .issueHeader{
	
}

.issueInUser .issuePriority{
	height: 8px;
}

.issueInUser .issueStatus{
	height: 8px;
}

.issueInUser .issueBody{
	padding: 0 2px;
}
/* END ISSUEINUSER */

/* ISSUEINUSERDETAILS */

.issueDetail .subject{
	font-size: 1.5em;
	font-weight: bolder;
}
.issueDetail .subjectWrap{
	margin: 5px 0;
}
.issueDetail .descriptionWrap{
	margin: 5px 0;
}
.issueDetail .timeWrap{
	margin: 5px 0;
}
.issueDetail .wrap{
	position: relative;
}
.issueDetail .edit{
	cursor: pointer;
	/*Minimizing width*/
	position: relative;
	display: inline-block;
}
.issueDetail .statusColor,.priorityColor{
	text-align: center;
}
.issueDetail .detailLabel{
	float: left;
}
.issueDetail .dueDateWrap{
	
}
.issueDetail .dueDateInput{
	visibility: hidden !important;
	width: 0;
	height: 0;
	border: 0;
	padding: 0;
	margin: 0;
}
/* END ISSUEINUSERDETAILS */

.affix-top{
	
}

.affix{
	top: 20px;
}